<div class='events-header' style='background-size:100%; background-image: url("http://www.thatdrop.com/wp-content/uploads/2015/10/dimitri-vegas-like-mike2.jpg")'>
  <div class="container">
    <h2> Discover upcoming events </h2>
    <form>
      <%= form_tag(events_path, method: :get, role: 'search') do %>
          <div class="input-group">
            <%= text_field_tag :term, params[:term], id: 'events_search', autocomplete: :on, placeholder: 'Search Event Here', class: 'form_control' %>
          </div>
          <div class="input-group-btn search-panel text-center">
            <%= submit_tag 'Search', name: nil, class: 'search_button'%>
          </div>
      <% end %>
    </form>
  </div>
</div>
<div class="container-fluid events-list">
    <% @events.to_a.in_groups_of(2) do |g| %>
      <div class="row">
        <% g.compact.each do |e| %>
            <%= render partial: 'card', locals: {event: e} %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>